@import url(./root.css);
/* inizio ex.1*/
.header{
    background-color: #f1f1f1 ;
    padding: 20px;
    text-align: center ;
    top: 0px;
}

.navbar{
    position:fixed;
    top: 0; 
    background-color: #333;
    width: 100%;
    height: 45px;
}
.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.c {
    float: left;
    padding: 10px;
}
.c.sides {
    width: 25%;
}
.c.main {
    width: 50%;
}

.mainrow::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .c .sides, .c .middle {
        width: 100%;
        display: block;
    }
    
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  /*fine ex.1*/
  /*inizio ex.2*/
  .para {
    display: none;
  }
  /*fine ex.2*/
    /*inizio ex.3*/ 
    .image {
        float: right;
        width: 50%;
    }
    .para2{
        float: left;
        width: 50%;
    }
    .para3{
        clear: both;
    }
    /*fine ex.3*/
    /*inizio ex.4*/
    .column{
        float: left;
        width: 33.3%;
        padding: 15px;
    }
    
    /*fine ex.4*/
    /*inizio ex.5*/
    /**Vedere la navbar**/
    /*fine ex.5*/
    /*inizio ex.6*/


